table {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 3px solid #080808;
    padding: 10px;
}

tbody th {
    text-align: left;
    margin-left: auto;
    border-collapse: collapse;
    border: 1px solid #888;
    padding: 10px;
}

tbody td{ 
    border: 1px solid #888;
    margin-right: auto;
}

tbody tr .productTotalCost {
    border: 1px solid #888;
    padding: 10px;
    text-align: right;
}

tbody tr .totalCost {
    border: 1px solid #888;
    padding: 10px;
    text-align: right;
}

td {
    padding: 5px;
}